@{
    ViewBag.Title = "Unapproved Claims";
}

<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1>Unapproved Claims</h1>
        <p>This is where you will view the unapproved claims submitted by lecturers.</p>

        
        <a href="@Url.Action("Organization", "Home")" class="btn btn-primary back-btn">Back</a>
    </div>
</div>

<style>
    .back-btn {
        width: 250px; 
        margin-top: 20px;
    }
</style>
