@{
    ViewBag.Title = "Approved Claims";
}

<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1>Approved Claims</h1>
        <p>This is where you will view the claims that have been fully approved by the Academic Manager.</p>

        
        <a href="@Url.Action("Organization", "Home")" class="btn btn-primary back-btn">Back</a>
    </div>
</div>

<style>
    .back-btn {
        width: 250px;
        margin-top: 20px;
    }
</style>
